<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>About|Laura Rea</title>
</head>

<body>
    <%- include('partials/nav') %>

    <!-- Page Content -->
    <div class="hero-background hero-about">
        <div class="hero-container">
            <h1 class="hero-title">About Me</h1>
        </div>
    </div>

    <div class="main-container">
        <div class="body-content">
            <div class="about-flex">
                <div class="about-intro">
                <h1 class="about-h3">    
                <p>Hi! I’m Laura Rea, and I am an Associate Marriage & Family Therapist. I am grateful to be based in Silicon Valley, where I grew up and received a valuable education thanks to the wonderful teachers in our community at Village Preschool, Argonaut Elementary, Redwood Middle and Saratoga High School. Having been born and raised here, I have a natural understanding of local values and community lifestyle.</p>
                </h1>
            </div>
                <img class="profile-pic" src="images/laura_profile.png" alt="Laura Profile Picture">
            </div>
            <h1 class="about-h3"> 
            <p>I have a diverse clinical background working with a variety of clients seeking support through a broad spectrum of psychological, medical, academic, spiritual, and social challenges. My experience spans from working as a school counselor, to working in clinics and non-profits with adolescents, adults, couples, and families. 
                It is my passion to help my clients lead fulfilling lives and cultivate nourishing relationships. I welcome clients of all cultural and socioeconomic backgrounds. I enjoy working with children, teens and adults with a variety of issues including anxiety, depression, interpersonal and self-esteem challenges. In my practice, therapy is as diverse as my clients; I believe every individual is different and each requires a unique perspective and different level of support. Because no single approach is right for everyone, I have trained in and use a balanced blend of client-centered and evidence-based approaches to help you reach your goals. More specifically, my work is informed by the following therapeutic orientations: Psychodynamic, Humanistic, Cognitive-Behavioral (CBT) and Acceptance and Commitment Therapy (ACT).</p>
            </h1>
            <h2 class="content-h4 border-top">My Approach</h2>
            <h1 class="about-h3"> 
            <p>I bring warmth, curiosity and humor in my work with clients in order to create a space of safety, exploration, and empowerment. I support clients in reflecting on relationship patterns and the impact of past experiences, sitting with emotions and identifying needs, values, and boundaries. I believe self-awareness is crucial to growth, but also recognize the importance of putting insights into action. Therefore, I also support clients in experimenting with more adaptive ways of being with themselves and others. Treatment is driven by your values (which may include creativity, honesty, fun, kindness, and/or curiousity among others). We look at the role emotions and thoughts have on your life including whether your current methods are “working for you” and empower you to make choices that align with your values. We can team up with to overcome old patterns, heal from pain, mend our struggling relationships, or just improve overall emotional insight and help you learn how to live life to the fullest.</p>
            </h1>
            <h2 class="content-h4 border-top">Education & Certifications:</h2>
            <ul class="about-list1">
                <li>BS Psychology - California Polytechnic State University, San Luis Obispo</li>
                <li>MS Psychology - California Polytechnic State University, San Luis Obispo</li>
                <li>Trauma-Focused Cognitive Behavioral Therapy 2.0 </li>
                <li>QPR Suicide Prevention Gatekeeper Program</li>
            </ul>
        </div>
    </div>

<%- include('partials/footer') %>

</body>

</html>
