<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Home|Laura Rea</title>
</head>

<body>
    <%- include('partials/nav') %>
    <div class="hero-background hero-home">
        <div class="hero-quote-container">
            <div class="quote-content">
                <h2 class="quote">Schedule A Free Consultation</h2>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="main-container">
        <div class="body-content">
            <p>
            </p><h1 class="content-h11">Welcome!</h1>
            <h1 class="content-h3">
                <p>Therapy is the professional relationship you enter into in order to support you to reach goals to improve your life. Different therapists utilize various approaches, however the commonalities of having a safe space to talk, to be heard, and to externalize the internal struggles you are experiencing is essential. 
This process can improve your relationships with friends, family, partners. Therapy can support you reaching both professional and educational goals through accountability and problem solving. Therapy can support you through experiences of depression, anxiety, panic attacks, relationship challenges, and stress. Therapy can help you sort through thoughts running through your head. It can also help you disconnect from unhelpful thoughts and reconnect with valued living.
                </p>
            </h1>
            <h1 class="content-h111">"Pain is real, but so is hope.”</h1>
            <h1 class="content-h3">
                <p>
                    Therapy is not a quick fix, rather it is an opportunity to grow with virtue, courage, and patience. Facing life on life’s terms is not easy but can be satisfying when shared with those who are trying to do the same.  Progress happens one day at a time and we can only begin from where we are.  
                </p>
                <p>
                    It takes a tremendous amount of courage to begin the process of therapy and I would like to make that process as comfortable as possible. Thank you for taking a moment to give yourself an opportunity to seek change. I hope you will take a moment to contact me and see how I can help.
                </p>
            </h1>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>