<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Services|Laura Rea</title>
</head>

<body>
    <%- include('partials/nav') %>
    <div class="hero-background hero-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="hero-title">Services</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="body-content">
            <button class="accordion-trigger" data-toggle="collapse" data-target="#adolescents">
                <h2 class="service-title">Adolescents</h2>
                <i class="material-icons">add</i>
            </button>
            <div id="adolescents" class="collapse">
                <p class="service-description1">
                    Adolescence can be confusing for both parents and teens. It’s a period where teens seek independence
                    and autonomy, but also still require parental guidance and boundaries. Combine this with hormonal
                    changes and typical stressors, teens may often appear withdrawn and moody. They may also be more
                    argumentative and have a change in attitude that wasn’t characteristic of their younger selves. This
                    is normal, albeit challenging, and can sometimes mimic depression and anxiety.
                </p>
                <p class="service-description1">
                    So, how do you know when a teen is just being a “teen” or something more is going on than just
                    “growing pains?”
                    Often there are signs that point to changes in behavior and mood or something is noticeably
                    different.
                </p>
                <p class="service-description1">
                    Some of these include:
                </p>
                <ul class="service-list">
                    <li>A drop in grades/problems at school</li>
                    <li>Physical changes such as appearing worn down and tired</li>
                    <li>Less time spent with friends/family and more time isolating</li>
                    <li>Difficulty sleeping</li>
                    <li>An increase in angry outbursts</li>
                </ul>
                <p class="service-description1">
                    If you notice your teen seems to be struggling, talking with a therapist may help. They may be
                    overwhelmed and need a place where they feel supported so they can sort out their feelings and find
                    ways to create change. Adolescents often strive to be heard, and do not always have environments
                    that facilitate that. Adolescents can benefit from learning what triggers them and how to put coping
                    skills into practice when they feel triggered.
                </p>
                <p class="service-description1">
                    Whether it be for symptoms of depression, anxiety, or any problem that they experience, I
                    find adolescents to be highly motivated and eager to do the work if they are matched with the right
                    therapist. Interestingly, more often than not, teens tend to want to do what they need in order to
                    feel better. Often it requires a space they feel supported in, free to talk without fear of
                    judgment. This breeds a motivation to confront what’s bothering them and make change.
                </p>
                <p class="service-description-bold">
                    Some of the benefits teen therapy may provide are:
                </p>
                <ul class="service-list">
                    <li>Improved self-esteem and confidence</li>
                    <li>Feeling less depressed or anxious</li>
                    <li>Improved coping skills to manage anger, anxiety and stress</li>
                    <li>Improved communication skills</li>
                    <li>Reduction/Elimination of self-destructive behaviors</li>
                    <li>Improved relationships with parents and peers</li>
                    <li>Feeling better and happier overall</li>
                </ul>
                <p class="service-description2">
                    I feel honored when parents trust me to help mold their adolescents in a way that can benefit them
                    for the rest of their life. I advocate for every adolescent to participate in therapy at some point
                    before they enter adulthood.
                </p>
            </div>
            <button class="accordion-trigger" data-toggle="collapse" data-target="#daa">
                <h2 class="service-title">Depression & Anxiety</h2>
                <i class="material-icons">add</i>
            </button>
            <div id="daa" class="collapse">
                <p class="service-description1">
                    When life loses its color, you don't feel like doing anything or seeing anyone, and normal daily
                    tasks start to feel impossibly overwhelming, you may be struggling with depression; depression can
                    feel like a dark cloud hanging over you all the time. You may feel tired, isolated, apathetic, or
                    just generally blue. You may find yourself not enjoying the things that you used to enjoy. You spend
                    more time crying than you used to. Thoughts of suicide and self-harm may come up as ways to escape
                    or cope with the pain you are dealing with. All of us experience feelings of depression at times,
                    but if you are experiencing intense sadness that is lasts for longer than you like, it may be time
                    to reach out for support.
                </p>
                <p class="service-description1">
                    Because depression is largely caused by isolation, I will work with you to first identify behaviors
                    you would like to be engaged in (the things you miss doing) and then help you practice getting
                    involved in those behaviors. The more connections you have and the more activities you do, the less
                    depressed you will feel. Once you start feeling more engaged in life, my next step would be to help
                    you understand why the feelings of depression started to begin with and to identify the triggers
                    that could cause you to feel like you are relapsing into those feelings. Once we identify those
                    triggers, we will brainstorm together strategies to help increase feelings of happiness or
                    contentment in your life.
                </p>
                <p class="service-description1">
                    I will help you readjust your thinking so the burden doesn’t feel so heavy and you regain the energy
                    and hope to be willing to take baby steps towards enjoying life again. At times, medication may be
                    suggested and I can help refer you to a psychiatrist or nurse practitioner who can assist with that
                    piece.
                </p>
                <h2 class="service-title">Anxiety</h2>
                <p class="service-description1">
                    Anxiety, while a normal and healthy response to stress, can, when left to its most extreme forms,
                    become immobilizing and distressing. Some common ways anxiety is described to often present itself
                    is through racing thoughts, perfectionism, difficulty sleeping, irritability, irrational fears, and
                    physical pain. Sometimes anxiety can show up as feelings of not being good enough, feeling ashamed
                    and spiraling into deeper self-judgement.
                </p>
                <p class="service-description1">
                    You might have been able to push forward and keep all these struggles behind the scenes for a while,
                    but it's taken its toll. The negative thoughts and emotions feel out of control; they're keeping you
                    from feeling okay in your work, relationships, and ability to enjoy things that you used to. You've
                    realized it's time to slow down and truly take care of yourself. Finding relief is possible.
                </p>
                <p class="service-description2">
                    We can reverse this downward spiral together! In our work together, we'll create a personalized
                    roadmap that will help you more effectively access your own wisdom so you can give yourself the
                    same kindness and motivation you give to others. I'll help you gain the tools you need to
                    set healthier boundaries in relationships, with work/productivity, and with your own inner critic.
                </p>
            </div>
            <button class="accordion-trigger" data-toggle="collapse" data-target="#gl">
                <h2 class="service-title">Grief & Loss</h2>
                <i class="material-icons">add</i>
            </button>
            <div id="gl" class="collapse">
                <p class="service-description1">
                    Grief and loss take on many forms and can impact a person’s sense of self or identity as well as
                    your self-esteem. You might be struggling with the loss of a family member, a pet or the loss of a
                    relationship to separation or divorce. For some, this experience may even lead to contemplating your
                    own mortality or questioning the meaning of life. Depending on the form your loss takes, we can
                    develop a plan of action to help you move through the powerful emotions you are experiencing.
                    Sometimes, that means taking time to grieve, in whatever form that takes—crying, feeling angry,
                    remembering, etc.
                </p>
                <p class="service-description1">
                    Grief is a natural response to loss and it can be an incredibly isolating experience. It can feel
                    like no one knows the right thing to say and that your pain will never end. Often those who are
                    grieving feel like they are a burden to others when they feel the need to reach out. The problem is
                    by not sharing or talking to someone you trust, grief may be difficult to move through.
                    Unfortunately, there is no way around grief; one has to go through it. By allowing yourself the
                    space to grieve, it’s possible to find a way to live with the loss of your loved one and to be able
                    to experience the joys of life that may feel forever gone.
                </p>
                <p class="service-description2">
                    If you’re wondering how you are going to face tomorrow, cope with shattered dreams, or feel like you
                    can’t do this on your own, you are not alone. There’s no “normal” timetable & typically no right or
                    wrong way to grieve. Whether your loss occurred recently or long ago, you deserve space for
                    processing and honoring your grief. I'm here to help.
                </p>
        
                </p>
            </div>
            <button class="accordion-trigger" data-toggle="collapse" data-target="#lt">
                <h2 class="service-title">Life Transitions</h2>
                <i class="material-icons">add</i>
            </button>
            <div id="lt" class="collapse">
                <p class="service-description1">
                    Change and transition in life are inevitable. Common transitions include going to or graduating from
                    College, starting a new job, moving to a new community, becoming a parent or having your children
                    grow up and leave your home. Part of our progression through the life cycle involves periods of
                    significant change. Transitions represent moments in our lives in which we step out of our comfort
                    zone and into the unknown. Sometimes we take these steps with excitement, hope and a sense of
                    adventure. In other moments we may find ourselves overwhelmed, paralyzed by fear, plagued with doubt
                    or stressed by the possibility of change.
                </p>
                <p class="service-description1">
                    In these moments we often find ourselves “frozen” and unable to take the next step even when we
                    logically know it is a healthy choice. We stand at the edge of the cliff wondering how we are
                    supposed to take the next step when we can’t see a net below. As the negative beliefs persist and
                    perpetuate in our thoughts we experience feelings of anxiety, apprehension and fear.
                </p>
                <p class="service-description2">
                    I believe that we all have the capacity to transform our lives. I work to provide direction to
                    empower you to withstand any of life’s stressors and transitions and I’d love to help you overcome
                    the waves you are currently facing.
                </p>
            </div>   
            <button class="accordion-trigger" data-toggle="collapse" data-target="#rel-issues">
                <h2 class="service-title">Relationship Issues</h2>
                <i class="material-icons">add</i>
            </button>
            <div id="rel-issues" class="collapse">
                <p class="service-description1">
                    Romantic relationships provide us with the opportunity to learn about our internalized beliefs, unresolved wounds, and defensive strategies. By taking the time to be curious about our expectations, perceptions, and responses, we can discontinue recurring cycles of conflict and move closer to enriching, balanced relationships.
                </p>
                <p>It is absolutely possible to break unhelpful relationship patterns. A relationship is a system, and by changing your half of it, the system inevitably shifts. I can help you identify the needs and emotions fueling your interactions with your partner and try more effective ways of engaging and expressing yourself to elicit a different outcome. By taking ownership for your response and cultivating empathy for your partner, you can come together to navigate challenges and repair ruptures in your relationship.</p>
                <p><strong>Tools I Can Offer You:</strong></p>
                <ul class="service-list">
                    <li>Understand your expectations, perceptions, feelings, and needs</li>
                    <li>Examine the role of your past relationships, family of origin, values, and cultural background</li>
                    <li>Improve communication skills and boundaries</li>
                    <li>De-escalate conflict and self-soothe</li>
                    <li>Distinguish whether a problem is solvable versus perpetual, and how to respond accordingly</li>
                    <li>Work on rebuilding trust</li>
                    <li>Identify your preferred means of receiving love</li>
                    <li>Understand what is and is not in your control</li>
                    <li>Recognize healthy versus unhealthy relationship dynamics</li>
                </ul>
                <p class="service-description2">If you'd like support with your relationship, I invite you to reach out to see if we'd work well together</p>
            </div>                     
            <button class="accordion-trigger" data-toggle="collapse" data-target="#se">
                <h2 class="service-title">Self-Esteem</h2>
                <i class="material-icons">add</i>
            </button>
            <div id="se" class="collapse">
                <p class="service-description1">
                    If you are struggling with self-esteem, you may find yourself:
                </p>
                <ul class="service-list">
                    <li>Speaking to yourself harshly</li>
                    <li>Doubting your decisions and anticipating criticism or failure</li>
                    <li>Frequently comparing yourself to others</li>
                    <li>Withdrawing from relationships/li>
                </ul>
                <p class="service-description1">
                    You can reconnect with your inherent worthiness and release reliance on validation from others. I can help you explore what's at the root of your low self-esteem, treat yourself with kindness, and relate more neutrally (or even compassionately) to your inner critic. As you unlearn the beliefs holding you back, you can show up more authentically in the world, bond more deeply with others, and live a life more reflective of your values and strengths.
                </p>
                <p><strong>Tools I Can Offer You:</strong></p>
                <ul class="service-list">
                    <li>Be mindful of your thought patterns</li>
                    <li>Shift your inner dialogue</li>
                    <li>Discover and build upon your strengths and interests</li>
                    <li>Practice self-compassion</li>
                    <li>Define your values and a fulfilling, purposeful life in your terms</li>
                    <li>Improve your self-care practices</li>
                    <li>Build self-trust</li>
                    <li>Work on boundary-setting</li>
                    <li>Move through fears of being seen, judged, or criticized</li>
                    <li>Learn to accept your mistakes and imperfections</li>
                </p>
            </div>
        </div>
    </div>
    </div>

    <%- include('partials/footer') %>
        <script>
            $(".accordion-trigger").click(function () {
                if ($(this).children('.material-icons').text() == 'add') {
                    $(this).children('.material-icons').text("remove");
                }
                else {
                    $(this).children('.material-icons').text("add");

                }
            });
        </script>

        </body>

        </html>